  
  body {
    background-color:rgb(255, 255, 255);
}

h1{
  color: #1859a3;
}

.NavBar{
  background-color:rgb(255, 255, 255);
  display: inline;
}
.NavBarIcon{
  color: rgb(255, 255, 255);
  background-color:rgb(103, 173, 253);
  height:40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 10%;
  border-color: rgb(103, 173, 253);

}


.container {
  display: grid;
  grid-auto-columns: minmax(15rem, auto);
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1rem;
  padding: 5%;
}
.item {
  background: rgb(103, 173, 253);
  color: #ccf5ff;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}


#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


.container2 {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: fit-content;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.container2:hover .overlay {
  opacity: 1;
}